$color-primary-dark: #004f62;
$color-background-light: #f5f5f5;
$color-white: #fff;
$color-off-white: #fcfdfd;
$color-accent: #0c7577;
$color-accent-2: #00a08d;
$color-accent-light: #c7e9f1;
$color-text-muted: #252525b3;
$color-gray-dark: #585858;
$color-gray-medium: #dfdedb;
$color-text-dark: #323334;
