@use "./partials/base";
@use "./partials/header";
@use "./partials/blocks/cta";
@use "./partials/blocks/hero";
@use "./partials/blocks/location-hero";
@use "./partials/blocks/location-list";
@use "./partials/blocks/cta-banner";
@use "./partials/blocks/banner";
@use "./partials/blocks/steps-list";
@use "./partials/blocks/tags-list";
@use "./partials/blocks/featured-destinations";
@use "./partials/blocks/excursion-list";
@use "./partials/blocks/vibes-section";
@use "./partials/blocks/vibes-list";
@use "./partials/blocks/featured-excursions";
@use "./partials/blocks/excursion-list-wrapper";
@use "./partials/blocks/featured-excursion-images";
@use "./partials/blocks/get-started-section";
@use "./partials/footer";