@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #004f62;
}

body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  line-height: 1.45;
  background: #f5f5f5;
}

img {
  max-width: 100%;
}

.text-bold {
  font-weight: 700;
}

.site-footer__wrapper, .get-started-section, .featured-excursion-images, .excursion-list-wrapper, .vibes-list, .vibes-section__title, .vibes-section__description, .featured-destinations, .banner__wrapper, .hero__title, .site-header__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.site-header {
  background: #004f62;
  padding: 2rem 1rem 1rem;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.primary-nav__link {
  display: inline-flex;
  color: #fff;
  text-decoration: none;
}

.cta {
  display: inline-flex;
  background: #004f62;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  line-height: 1.28;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.8125rem 2.25rem;
  border-radius: 8px;
  border: 1px solid #004f62;
}
.cta--inverse {
  color: #585858;
  background: #f5f5f5;
  border: 1px solid #dfdedb;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50.6875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.hero__content {
  z-index: 1;
  background: #fff;
  width: calc(100% - 2rem);
  max-width: 1049px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 2.5rem 2rem;
  font-size: 1.375rem;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .hero__content {
    padding: 2.5rem 3.625rem;
  }
}
.hero__title {
  font-family: "Literata", serif;
  color: #fff;
  z-index: 10;
  text-align: center;
  font-size: 5.125rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: -0.225rem;
  margin: 2rem auto;
}
@media screen and (min-width: 760px) {
  .hero__title {
    font-size: 7.5rem;
    margin: 11.375rem auto 8.375rem auto;
  }
}
.hero__description {
  text-align: center;
  margin: 0 0 4.6875rem 0;
}

.location-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location-hero__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50.6875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.location-hero__bg--top {
  -o-object-position: center top;
     object-position: center top;
}
.location-hero__content {
  z-index: 1;
  background: #fff;
  width: calc(100% - 2rem);
  max-width: 1049px;
  margin: 15.625rem auto 0 auto;
  border-radius: 12px;
  padding: 2.5rem 2rem;
  font-size: 1.375rem;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .location-hero__content {
    margin: 31.4375rem auto 0 auto;
    padding: 2.5rem 3.625rem;
  }
}
.location-hero__title {
  font-family: "Albert Sans", sans-serif;
  color: #00a08d;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 2rem 0;
}
@media screen and (min-width: 760px) {
  .location-hero__title {
    font-size: 3.5rem;
  }
}
.location-hero__description {
  text-align: center;
  margin: 0 0 2rem 0;
  color: #323334;
}
.location-hero__price {
  color: #323334;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

.location-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  text-align: left;
  margin: 0 0 2.5rem 0;
}
.location-list__item {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .location-list__item {
    width: calc(50% - 1.25rem);
  }
}
@media screen and (min-width: 1200px) {
  .location-list__item {
    width: calc(25% - 1.25rem);
  }
}
.location-list__title {
  color: #0c7577;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  margin-top: 0;
}
.location-list__title::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  width: 33.333%;
  height: 2px;
  background: #0c7577;
}
.location-list__description {
  color: rgba(37, 37, 37, 0.7019607843);
  font-weight: 400;
  line-height: 1.31;
  font-size: 1rem;
}

.cta-banner {
  background: #0c7577;
  text-align: center;
  padding: 5.3125rem 1rem;
}
.cta-banner__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 760px) {
  .cta-banner__title {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}
.cta-banner__description {
  color: #fcfdfd;
  margin: 0 0 3.75rem 0;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.45;
}

.banner {
  background: #0c7577;
  color: #fff;
  position: relative;
  padding: 1rem;
}
@media screen and (min-width: 760px) {
  .banner {
    padding: 10.5rem 8.625rem 10.5rem 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    padding: 10.5rem 8.625rem;
  }
}
.banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media screen and (min-width: 760px) {
  .banner__wrapper {
    margin-bottom: 0;
  }
}
.banner__text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem 0 0;
}
@media screen and (min-width: 760px) {
  .banner__text-wrapper {
    width: 50%;
  }
}
.banner__title {
  font-family: "Literata", serif;
  color: #fcfdfd;
  font-size: 2.9375rem;
  font-weight: 400;
  letter-spacing: -0.05875rem;
  line-height: 1.0425;
}
.banner__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125;
}
.banner__image {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .banner__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.banner--inverse {
  color: #585858;
  background: #dfdedb;
}
.banner--inverse .banner__title {
  color: #004f62;
}
.banner--featured {
  padding: 2rem 0.5rem;
}
@media screen and (min-width: 760px) {
  .banner--featured {
    padding: 10.5rem 8.625rem 10.5rem 1rem;
  }
}
.banner--featured .banner__title {
  font-size: 2.875rem;
  letter-spacing: -0.085rem;
  margin-top: 0;
}
@media screen and (min-width: 760px) {
  .banner--featured .banner__title {
    font-size: 4.25rem;
  }
}

.steps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  counter-reset: step-number;
  text-align: left;
  margin: 0 0 2.5rem 0;
}
.steps-list__item {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .steps-list__item {
    width: calc(50% - 1.25rem);
  }
}
@media screen and (min-width: 1200px) {
  .steps-list__item {
    width: calc(25% - 1.25rem);
  }
}
.steps-list__title {
  color: #0c7577;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}
.steps-list__title::before {
  counter-increment: step-number;
  content: counter(step-number);
  position: absolute;
  top: -2.1875rem;
}
.steps-list__title::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  width: 33.333%;
  height: 2px;
  background: #0c7577;
}
.steps-list__description {
  color: rgba(37, 37, 37, 0.7019607843);
  font-weight: 400;
  line-height: 1.31;
  font-size: 1rem;
}

.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.8125rem;
}
.tags-list__link {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background: #004f62;
  border-radius: 32px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
}

.featured-destinations {
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 5.375rem;
}
@media screen and (min-width: 760px) {
  .featured-destinations {
    padding: 0;
  }
}
.featured-destinations__intro-title {
  font-family: "Literata", serif;
  font-size: 2.625rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.1275rem;
  color: #004f62;
}
@media screen and (min-width: 760px) {
  .featured-destinations__intro-title {
    font-size: 4.25rem;
    line-height: 1.06;
  }
}
.featured-destinations__intro-text {
  color: #585858;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31;
}
.featured-destinations__image-grid {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.featured-destinations__link {
  text-decoration: none;
  display: inline-flex;
  width: 100%;
}
@media screen and (min-width: 760px) {
  .featured-destinations__link {
    width: calc(33.333% - 2rem);
  }
}
.featured-destinations__image-card {
  text-align: left;
}
.featured-destinations__image-wrapper {
  position: relative;
}
.featured-destinations__image {
  border-radius: 16px;
  width: 100%;
}
.featured-destinations__title {
  color: #0c7577;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0 0.5rem 0;
}
.featured-destinations__description {
  color: #585858;
  font-size: 1rem;
  line-height: 1.31;
  margin: 0 0 0.5rem 0;
}
.featured-destinations__price {
  color: #323334;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}
.featured-destinations__vibes-wrapper {
  position: absolute;
  bottom: 1.625rem;
  right: 1.0625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 1rem;
}
.featured-destinations__vibe {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 32px;
  padding: 0.25rem 0.5rem;
  background: #004f62;
}

.featured-destinations_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 70px;
  width: 82.91%;
  gap: 100px;
}
.featured-destinations_block .featured-destinations__intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 22.23%;
  width: 55.52%;
  margin-top: 70px;
  margin-bottom: -40px;
}
.featured-destinations_block .featured-destinations__intro-title h2 {
  font-family: "Literata", serif;
  font-size: 4.25rem;
  font-weight: 500;
  line-height: 1.06;
  letter-spacing: -0.1275rem;
  color: #004f62;
  margin: 0;
  white-space: nowrap;
}
.featured-destinations_block .featured-destinations__intro-title p {
  font-family: "Albert Sans", sans-serif;
  color: #585858;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31;
  width: 68.77%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;
}
.featured-destinations_block .featured-destinations__destinations {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.4%;
}
.featured-destinations_block .featured-destinations__destinations img {
  width: 48.4%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details {
  width: 48.4%;
  height: 578px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs img {
  width: 28.86%;
  aspect-ratio: 1/1;
  border-radius: 16px;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs img:first-child {
  display: none;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details h2 {
  font-family: "Literata", serif;
  font-size: 2.93rem;
  font-weight: 500;
  color: #004f62;
  margin: 0;
  line-height: 49px;
  display: inline-block;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.78%;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-tags a {
  text-decoration: none;
  font-family: "Albert Sans", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 4px 1.39%;
  background-color: #004f62;
  border-radius: 32px;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details h3 {
  font-family: "Albert Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  color: #323334;
  margin: 0;
  line-height: 100%;
  display: inline-block;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details p {
  font-family: "Albert Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #585858;
  width: 71.65%;
  margin: 0;
  line-height: 100%;
  display: inline-block;
}
.featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-button {
  text-decoration: none;
  font-family: "Albert Sans", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 18px;
  padding: 13px 6.29%;
  background-color: #004f62;
  border-radius: 8px;
  align-self: flex-start;
}
.featured-destinations_block .featured-destinations__destinations:last-child {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .featured-destinations_block {
    width: 100%;
  }
  .featured-destinations_block .featured-destinations__intro-title {
    margin-left: 6.83%;
    width: 87.32%;
  }
  .featured-destinations_block .featured-destinations__destinations {
    width: 80.35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 41px;
    margin-left: 11.91%;
  }
  .featured-destinations_block .featured-destinations__destinations img {
    width: 100%;
  }
  .featured-destinations_block .featured-destinations__destinations:nth-child(n+3):nth-child(odd) > img {
    order: -1;
  }
  .featured-destinations_block .featured-destinations__destinations:nth-child(n+3):nth-child(odd) > .featured-destinations_details {
    order: 0;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details {
    width: 100%;
    height: 515px;
    gap: 30px;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs img {
    width: 28.52%;
  }
}
@media (max-width: 320px) {
  .featured-destinations_block {
    width: 100%;
  }
  .featured-destinations_block .featured-destinations__intro-title {
    margin-left: auto;
    margin-right: auto;
    width: 86.32%;
  }
  .featured-destinations_block .featured-destinations__intro-title h2 {
    font-size: 2.25rem;
    text-align: center;
    white-space: normal;
  }
  .featured-destinations_block .featured-destinations__intro-title p {
    margin-top: 24px;
    width: 100%;
    padding-left: 0;
  }
  .featured-destinations_block .featured-destinations__destinations {
    width: 86.32%;
    height: 571px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-destinations_block .featured-destinations__destinations img {
    display: none;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px 8px;
    width: 100%;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs img {
    display: block;
    margin-top: 0;
    width: 47.36%;
    aspect-ratio: 1/1;
    border-radius: 16px;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-imgs img:first-child {
    display: block;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details h2 {
    font-size: 1.375rem;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details .featured-destinations_details-tags {
    gap: 8px 2.78%;
  }
  .featured-destinations_block .featured-destinations__destinations .featured-destinations_details p {
    width: 100%;
  }
}
.excursion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  counter-reset: step-number;
  text-align: left;
  margin: 0 0 2.5rem 0;
  position: relative;
  z-index: 10;
}
.excursion-list__item {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .excursion-list__item {
    width: calc(50% - 1.25rem);
  }
}
@media screen and (min-width: 1200px) {
  .excursion-list__item {
    width: calc(25% - 1.25rem);
  }
}
.excursion-list__title {
  color: #0c7577;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}
.excursion-list__title::before {
  counter-increment: step-number;
  content: counter(step-number);
  position: absolute;
  top: -2.1875rem;
}
.excursion-list__title::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  width: 33.333%;
  height: 2px;
  background: #0c7577;
}
.excursion-list__description {
  color: rgba(37, 37, 37, 0.7019607843);
  font-weight: 400;
  line-height: 1.31;
  font-size: 1rem;
}

.vibes-section {
  background: linear-gradient(#0c7577 57.5rem, #fff 57.5rem);
  padding: 2rem;
}
@media screen and (min-width: 760px) {
  .vibes-section {
    padding: 4.3125rem;
    background: linear-gradient(#0c7577 41.125rem, #fff 41.125rem);
  }
}
.vibes-section__title {
  color: #fff;
  font-family: "Literata", serif;
  font-size: 4.25rem;
  font-weight: 500;
  line-height: 1.06;
  letter-spacing: -0.1275rem;
  text-align: center;
  margin: 0 auto 2.125rem auto;
}
.vibes-section__description {
  color: #fcfdfd;
  font-size: 1rem;
  line-height: 1.312;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 4rem auto;
}
.vibes-section__subtitle {
  color: #c7e9f1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 4rem 0;
}
@media screen and (min-width: 760px) {
  .vibes-section__subtitle {
    font-size: 1.875rem;
  }
}

.vibes-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.vibes-list__item {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 760px) {
  .vibes-list__item {
    width: calc(33.333% - 2rem);
  }
}
.vibes-list__image {
  border-radius: 16px;
}
.vibes-list__vibe {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  border-radius: 32px;
  padding: 0.25rem 1.5rem;
  background: #004f62;
}

.featured-excursions {
  background: #0c7577;
  text-align: center;
  background: url("./../assets/images/featured-excursions-bg.png"), #0c7577;
  background-size: 82rem 32.875rem, cover;
  background-repeat: no-repeat;
  background-position: center 22.9375rem;
  padding: 4rem 1rem 3.5625rem 1rem;
}
.featured-excursions__title {
  font-size: 2.25rem;
  color: #fff;
  max-width: 43.0625rem;
  margin: 0 auto 1.5rem auto;
}
@media screen and (min-width: 760px) {
  .featured-excursions__title {
    font-size: 3.5rem;
  }
}
.featured-excursions__description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.312;
  max-width: 43.0625rem;
  margin: 0 auto 3.4375rem auto;
}

.excursion-list-wrapper {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 1049px;
  background: #fff;
  border-radius: 12px;
  padding: 2.5rem 2rem;
  margin-bottom: 3.25rem;
}
@media screen and (min-width: 760px) {
  .excursion-list-wrapper {
    padding: 2.5rem 3.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .excursion-list-wrapper {
    margin-bottom: 10.125rem;
  }
}

.featured-excursion-images__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.featured-excursion-images__item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  line-height: 0;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 760px) {
  .featured-excursion-images__item {
    width: calc(33.333% - 2rem);
  }
}
.get-started-section {
  max-width: 65.5625rem;
  margin-top: 3.125rem;
  margin-bottom: 9.25rem;
}
.get-started-section__title {
  color: #0c7577;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 1.5625rem 0;
}
@media screen and (min-width: 760px) {
  .get-started-section__title {
    font-size: 3.5rem;
  }
}
.get-started-section__description {
  color: #585858;
  line-height: 1.312;
  font-weight: 400;
  text-align: center;
  margin: 0 0 3.125rem 0;
}
.get-started-section__list-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  .get-started-section__list-wrapper {
    flex-direction: row;
  }
}
.get-started-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  margin: 0 0 0 7.1875rem;
}
@media screen and (min-width: 760px) {
  .get-started-section__list {
    width: 50%;
  }
}
.get-started-section__item {
  position: relative;
}
.get-started-section__item::before {
  content: url("./../assets/icons/marker.svg");
  position: absolute;
  left: -4.6875rem;
  top: -0.625rem;
  width: 3.3125rem;
  height: 3.3125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #00a08d;
  line-height: 0;
  padding: 0.875rem 1rem;
  border-radius: 10px;
}
.get-started-section__item--marker::before {
  content: url("./../assets/icons/marker.svg");
}
.get-started-section__item--phone::before {
  content: url("./../assets/icons/phone.svg");
}
.get-started-section__item--price-tag::before {
  content: url("./../assets/icons/price-tag.svg");
}
.get-started-section__image {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 760px) {
  .get-started-section__image {
    width: 50%;
  }
}
.get-started-section__item-title {
  color: #0c7577;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin: 0.625rem 0 1.1875rem 0;
}
.get-started-section__item-description {
  color: rgba(37, 37, 37, 0.7019607843);
  line-height: 1.312;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.site-footer {
  background: #004f62;
  color: #fff;
  padding: 3rem 1rem;
}
.site-footer__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  order: 2;
}
@media screen and (min-width: 760px) {
  .site-footer__links-wrapper {
    width: 75%;
    order: 1;
    gap: 5rem;
  }
}
.site-footer__links-wrapper > div {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .site-footer__links-wrapper > div {
    width: auto;
  }
}
.site-footer__about-wrapper {
  width: 100%;
  order: 1;
}
@media screen and (min-width: 760px) {
  .site-footer__about-wrapper {
    width: 25%;
    order: 2;
  }
}
.site-footer__title {
  margin: 0 0 1rem 0;
}
.site-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer__list--social {
  display: flex;
  gap: 2rem;
}
.site-footer__list--terms {
  display: flex;
  gap: 1.5rem;
}
.site-footer__link {
  color: #fff;
  text-decoration: none;
}
.site-footer__top-section {
  display: flex;
  flex-wrap: wrap;
}
.site-footer__top-section .site-footer__item {
  margin-bottom: 1rem;
}
.site-footer__bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  .site-footer__bottom-section {
    flex-direction: row;
  }
}

.hero__image {
  /*margin-top:82px;*/
  width: 100%;
  height: 502px;
  background-image: url("../assets/images/contact-page-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 100%;    */
  /*background-position:60% 36%;/* 横向偏左右不变，纵向偏上20% */
  border: 1px solid transparent;
  margin-bottom: 415px;
}

.hero__image-info {
  width: 72.94%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 221.4px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  /*border: 1px solid blue ;*/
}
.hero__image-info img {
  height: 59px;
  aspect-ratio: 1/1;
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
}
.hero__image-info h2 {
  width: 44.79%;
  font-family: "Albert Sans";
  font-weight: 600;
  font-size: 56px;
  line-height: 63px;
  letter-spacing: 0%;
  text-align: center;
  color: #00A08D;
  margin: 0;
  padding: 0;
  /*border: 1px solid red ;*/
}
.hero__image-info p {
  font-family: Albert Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  color: #252525;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  /*width: 75%;*/
  width: 66%;
  /*height: 96px;*/
}
.hero__image-info a {
  text-decoration: none;
  background-color: #004F62;
  border-radius: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 18px;
  letter-spacing: 0%;
}

/* ------------------ 768px ------------------ */
@media (max-width: 768px) {
  .hero__image-info {
    width: 81.25%;
    margin-top: 185px;
  }
  .hero__image-info img {
    margin-top: 48px;
  }
  .hero__image-info h2 {
    width: 73.55%;
  }
  .hero__image-info p {
    width: 81.43%;
  }
  .hero__image-info a {
    margin-bottom: 48px;
  }
}
/* ------------------ 320px ------------------ */
@media (max-width: 320px) {
  .hero__image {
    position: relative;
    height: 209px;
    margin-bottom: 0px;
  }
  .hero__image-info {
    position: static;
    width: 100%;
    /*margin-top: 300px;*/
    /*border: 1px solid green ;*/
  }
  .hero__image-info img {
    margin-top: 22px;
  }
  .hero__image-info h2 {
    width: 87.5%;
    font-size: 32px;
    line-height: 41px;
  }
  .hero__image-info p {
    width: 87.5%;
  }
  .hero__image-info a {
    margin-bottom: 22px;
    padding-left: 85.5px;
    padding-right: 85.5px;
  }
}/*# sourceMappingURL=submitCSS.css.map */