@use "./partials/base";
@use "./partials/header";
@use "./partials/blocks/cta";
@use "./partials/blocks/hero";
@use "./partials/blocks/location-hero";
@use "./partials/blocks/location-list";
@use "./partials/blocks/cta-banner";
@use "./partials/blocks/banner";
@use "./partials/blocks/steps-list";
@use "./partials/blocks/tags-list";
@use "./partials/blocks/featured-destinations";
@use "./partials/blocks/excursion-list";
@use "./partials/blocks/vibes-section";
@use "./partials/blocks/vibes-list";
@use "./partials/blocks/featured-excursions";
@use "./partials/blocks/excursion-list-wrapper";
@use "./partials/blocks/featured-excursion-images";
@use "./partials/blocks/get-started-section";
@use "./partials/footer";

//The style for the travle infor form
.hero__image {
  /*margin-top:82px;*/
  width:100%;
  height: 502px;
  background-image: url("../assets/images/contact-page-banner.jpg");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
  border: 1px solid transparent; 

  h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 90.5px;
    margin-bottom: 24px;
    font-family: "Albert Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 56px;
    // leading-trim: NONE;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
  }

  p{   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 47.81%;
    font-family: "Albert Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    // leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
  }

  img{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 6.18%;
    aspect-ratio: 1 / 1; 
    margin-top: 60px;
  }
}

.travel-info__collection{ 
  width: 100%;
  height: auto;
  background-color: #0C7577;
  display: flex;
  flex-direction: column;
  gap:24px;
  /*border: 1px solid red;*/

  > div:first-child {
    margin-top: 52px;
  }

  div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 37.12%;
    /*border: 1px solid red;*/

    label{
      font-family: "Albert Sans";
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
    //   leading-trim: NONE;
      line-height: 160%;
      letter-spacing: -2%;
      color: #FFFFFF;
    }

    input{
      width: 100%;
      height: 46px ;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      background-color: #DFDEDB;   
      padding-top: 12.5px ;
      padding-bottom: 12.5px;
      padding-left: 2.6%;

      &::placeholder {
        font-family: "Albert Sans";
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        // leading-trim: NONE;
        line-height: 140%;
        letter-spacing: -1%;
        color: #585858;
      }
    }

    select{
      width: 100%;
      height: 46px ;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      background-color: #DFDEDB;   
      padding-top: 12.5px ;
      padding-bottom: 12.5px;
      padding-left: 2.6%;
    }
  }

  button{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 13px ;
    padding-bottom: 13px;
    padding-left: 36px ;
    padding-right: 36px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #0C7577;
    // leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 0%;

    &:active {
      transform: scale(0.95);
    }
  }
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;

  select {
    appearance: none;
    width: 100%;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    background: white;
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    /*margin-top: 16px;
    margin-right: 16px;*/
    top: 39px;
    right: 16px;
    transform: rotate(45deg);
    width: 9px;
    height: 9px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
  }
}

.check-wrapper {
  width: 37.12%;
  margin-left: auto;
  margin-right: auto;


  input {
    display: none;// Default style for block elements
  }

  label {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  input:checked + label .checkmark::after {
    display: block;
  }
  // Create custom styles
  .checkmark {
    height: 11px;
    aspect-ratio: 1 / 1;
    border: 1.5px solid #FFFFFF;
    display: inline-block;
    margin-top: 3.95px;
    margin-left: 3.95px;
    margin-right: 0px;
    vertical-align: middle;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 0px;
      width: 4px;
      height: 7px;
      border: solid #FFFFFF;
      border-width: 0 1.5px 1.5px 0;
      transform: rotate(45deg);
      display: none;
    }
  }
}

.info{
  /*border: 1px solid blue;*/
  margin: 0;
  margin-right: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
//   leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -1%;
}

@media(max-width: 768px){
  .hero__image {
    height: 853px;
    background-size: 232%;    
    background-position:11% 30%;

    h2 {
      margin-top: 224px;
      margin-left:24.86%;
      margin-right:24.86%;
    }

    P {
      margin-left:10.67%;
      margin-right:10.67%;
      width: 78.64%;
    }

    img {
      width: 11.58%;
    }
  }

  .travel-info__collection div {
    width: 81.25%;
  }

  .info {
    width: 85.53%;
    font-size: 13.2px;
  }
}

@media(max-width: 320px){
  .hero__image {
    height: 781px;  
    background-size: 380%;    
    background-position:15% 50%;

    h2 {
      margin-top: 72px;
      margin-left:6.25%;
      margin-right:6.25%;
    }

    p {
      margin-left:6.25%;
      margin-right:6.25%;
      width: 87.5%;
    }

    img {
      width: 27.81%;
    }
  }

  .travel-info__collection div {
    width: 87.5%;
  }

  .info {
    font-size: 15px;
  }
}




